<h3>Quick Search By Product Name</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="productName">Product Name</label> <input type="text"
                                                     class="form-control" id="productName" required [(ngModel)]="productName"
                                                     name="productName">
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<ul>
    <section class="main">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Categories</th>
          <th>Product Code</th>
          <th>Product Name</th>
          <th>Size</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td><a [routerLink]="['/product/', product.productCode]">{{product.productName}}</a></td>
          <!--          <th scope="row">{{product.id}}</th>-->
          <td>{{product.categories}}</td>
          <td>{{product.productCode}}</td>
          <td>{{product.productName}}</td>
          <td>{{product.size}}</td>
          <!--  <td>
              <button type="button" class="btn btn-danger" (click)="deleteProductP(product)">Delete</button>
            </td>-->
        </tr>
        </tbody>
      </table>
    </section>
</ul>
